<!DOCTYPE html>
<html>
<head>
	<title>Aerial Analysis</title>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="wave.png">
	<div class="container">
		<div class="img">
			<img src="bg.svg">
		</div>
		<div class="login-content" ng-app="aerialAnalysis" ng-controller="loginController as vm">
			<form method="POST">
				<img src="avatar.svg">
				<h2 class="title">Bem-vindo</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" ng-model="vm.user.username" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" ng-model="vm.user.password" required>
            	   </div>
            	</div>
				<button class="btn" ng-click="vm.loginUser()">Entrar</button>
            </form>
        </div>
    </div>
	<script type="text/javascript" src="login.js" ></script>
	<script src="jquery-2.1.4/jquery-2.1.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="angular/angular.min.js"></script>

	<script src="login.controller.js"></script>
	<script src="login.service.js"></script>
</body>
</html>