<html ng-app="aerialAnalysis">
    <head>
        <title>Aerial Analysis</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;900&display=swap" rel="stylesheet">
        <link href="/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="site.css" rel="stylesheet" />
    </head>
    <body  ng-controller="homeController as vm">
        <div class="principal-container">
            <div class="title">
                <h3>{{vm.user.lastname}}, {{vm.user.firstname}}. Bem vindo ao Aerial Analysis</h3>
            </div>
            <div class="principal-content">
                <div class="first">
                    <div class="banner">
                        <div class="call">
                            <p>Gerencie e organize</p>
                            <p class="second-call">os talhões da fazenda</p>
                        </div>

                        <div class="add">
                            <a id="btnAddProduct" ngclick="vm.initNewProduct()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar novo Talhão </a>
                        </div>
                    </div>
                    <div class="head-table">
                        <h3>Seus Talhões</h3>
                    </div>
                    <div class="list-products">
                        <table>
                            <tbody>
                                <tr onclick="javascript: controlSecond(this)" class="product-table" ng-repeat="product in vm.talhoes" ng-click="vm.fillProduct(product)">
                                    <td class="index negrito">#{{$index + 1}}</td>
                                    <td class="product-detail negrito">{{product.descricao}}</td>
                                    <td class="product-detail">{{product.tamanho}}m²</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="second">
                    <div class="header-detail">
                        <div class="index-detail"></div>
                        <div class="name-detail">
                            <h4>{{vm.productSelected.descricao}}</h4>
                            <h6>{{vm.productSelected.tamanho}}m²</h6>
                        </div>
                    </div>
                    <div class="body-detail">
                        <div class="section-detail">
                            <div class="moldura-map">
                                <p class="negrito">{{vm.productSelected.latitude}};</p>
                                <p class="negrito">{{vm.productSelected.longitude}}</p>
                            </div>
                        </div>
                        <div class="section-detail">
                            <div><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Temperatura</div>
                            <p class="negrito">{{vm.productSelected.temperatura}}°C</p>
                        </div>
                        <div class="section-detail">
                            <div><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Umidade</div>
                            <p class="negrito">{{vm.productSelected.umidade}}%</p>
                        </div>

                        <div class="section-detail">
                            <div><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> PH</div>
                            <p class="negrito">{{vm.productSelected.PH}}</p>
                        </div>

                        <div class="section-detail">
                            <div id="aviso"><span>*</span> Caso os valores estejam vazios ou nulos, o dispositivo pode não estar enviando as informações</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div id="dialog-form" title="Adicionar novo Talhão">
                <p class="validateTips">All form fields are required.</p>
            
                <form method="POST" id="formProduct">
                    <div class="linha">
                        <div class="form-group">
                            <p>Descrição: <input type="text" required class="form-control" placeholder="Descrição" ng-model="vm.product.descricao"></p>
                        </div>
                    </div>

                    <div class="linha">
                        <div class="form-group">
                            <p>Tamanho: <input type="text" required class="form-control" id="datepicker" placeholder="Data de Entrada" ng-model="vm.product.dtEntrada"></p>
                        </div>
                    </div>

                    <div class="linha">
                        <div class="form-group">
                            <p>ID do Dispositivo: <input type="text" required class="form-control" placeholder="Ex.: Vestido, Saia, Conjunto..."  ng-model="vm.product.tipoItem"></p>
                            <p>Este é o dispotivo instalado no talhão para que pegar os valores das métricas</p>
                        </div>
                    </div>

                     
                    <hr/>
                    <button type="submit" class="btn btn-primary" ng-click="vm.saveProduct()">Salvar</button>
                </form>
            </div>
        </div>


        <script src="jquery-2.1.4/jquery-2.1.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="angular/angular.min.js"></script>

        <script src="home.controller.js"></script>
        <script src="home.service.js"></script>
        <script src="fazenda.service.js"></script>
        <script src="talhao.service.js"></script>
        <script src="login.service.js"></script>

        <script src="site.js"></script>
    </body>
</html>